* {
    box-sizing: border-box;
    zoom: normal;
}

html {
    font-size: 10px;
}

body {
    background-color: #021111;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0px;
}

div.container {
    margin: auto;
    background-color: #223963;
    padding: 0rem;
    color: #99ffff;
    font-size: 2rem;
    transition: all .3s linear;
}


/* Notifications */
body > div.notification {
    width: 100%;
    height: 5.5rem;
    background-color: #83d078;
    color: #fff;
    opacity: 1;
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    transition: opacity 0.3s linear;
}

body > div.notification.error {
    background-color: #b43030;
    color: #fadada;
}


body > div.notification .close {
    font-size: 5.5rem;
    background-color: green;
    padding: 0rem 1rem;
    margin: 0rem;
    width: 5rem;
    cursor: pointer;
}
body > div.notification.error .close {
    background-color: red;
}

body > div.notification .message {
    font-size: 2rem;
    padding-top: 1.6rem;
    padding-left: 2rem;
}

body > div.notification .close:hover {
    color: black;
}

/* Header */

div.header {
    background-color: #c0d2f2;
}

div.header h1 {
    color: #fff;
    padding: 0rem;
    margin: 0rem;
}

fieldset.footer, div.footer {
    background-color: #c0d2f2;
    padding: 1rem 2rem 1.5rem 2rem;
    border: 0rem;
    margin: 0rem;
    border-top-left-radius: 0rem;
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    color: #000;
}

div.container fieldset.section {
    width: 100%;
    padding: 1rem 2rem;
    border: 0rem;
    font-size: 1.5rem;
    background-color: #2b477a;
    color: white;
    border-radius: 0.5rem;
    margin: 0rem 0rem 1rem 0rem;
}

div.container div.content {
    width: 100%;
    padding: 1rem 2rem;
    border: 0rem;
    font-size: 1.5rem;
    background-color: #2b477a;
    color: white;
    border-radius: 0.5rem;
    margin: 0rem;
}

div.section label {
    display: block;
    width: 100%;
}

div.container input {
    border: 0rem;
    padding: 0.8rem;
    margin: 0.5rem 0rem;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-radius: 1rem;
    border: 1px solid #888;
}

div.container button {
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: #aaa;
    border: 0rem;
    border-radius: 0.5rem;
}

div.container button.right {
    float: right;
}

div.container button.submit {
    background-color: #83d078;
}

div.container button.reboot {
    background-color: #b43030;
    width: 100%;
}

div.container ul.mainmenu {
    display: flex;
    padding: 0rem;
}

div.container ul.mainmenu li {
    width: 33%;
    text-align: center;
    list-style-type: none;
    padding-left: 0rem;
    padding-right: 1rem;
}

div.container ul.mainmenu li:hover {
    background-color: #5a79b1;
    color: #f78d1a;
    transition: background-color linear .5s;
}

div .container ul.mainmenu li a {
    color: #f78d1a;
    text-decoration: none;
}

div.container ul.mainmenu li a:hover {
    color: #f78d1a;
    text-decoration: underline;
}

div.container ul.mainmenu li a:visited {
    color: #f78d1a;
    text-decoration: none;
}



@media only screen and (min-width : 1224px) {
    body {
        margin: 1rem;
    }

    div.container {
        width: 70rem;
        border-radius: 1rem;
    }

    div.header {
        padding: 1rem 2rem 1.5rem 2rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 0rem;
        border-bottom-right-radius: 0rem;
    }

    div.header h1 {
        font-size: 5rem;
    }

    div.container ul.mainmenu {
        flex-direction: row;
    }

    div.container button {
        font-size: 1.6rem;
    }

    .goto-info {
        margin-left: 2rem;
        display: block;
        width: 13rem;
        background-image: url(info128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-top: 18rem;
        height: 24rem;
        font-size: 4rem;
    }

    .goto-setup {
        margin-left: 2rem;
        display: block;
        width: 13rem;
        background-image: url(setup128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-top: 18rem;
        height: 24rem;
        font-size: 4rem;
    }

    .goto-start {
        margin-left: 2rem;
        display: block;
        width: 13rem;
        background-image: url(reboot128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-top: 18rem;
        height: 24rem;
        font-size: 4rem;
    }

    .goto-reset {
        margin-left: 2rem;
        display: block;
        width: 13rem;
        background-image: url(reboot128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-top: 18rem;
        height: 24rem;
        font-size: 4rem;
    }
}

@media only screen and  (max-width : 1223px) {
    body {
        margin: 0px;
    }

    div.container {
        width: 100%;
        border-radius: 0rem;
        min-height: 100%;
    }

    div.header {
        padding: 3rem 2rem 3rem 2rem;
        border-radius: 0px;
    }

    div.header h1 {
        font-size: 9rem;
    }

    div.container fieldset.section {
        font-size: 6rem;
        padding: 4rem;
    }

    div.container div.content h3 {
        font-size: 6rem;
        padding: 1rem 0rem;
    }

    div.container div.content p {
        font-size: 4rem;
        padding: 1rem 0rem;
    }

    div.container fieldset.section label {
        display: block;
        font-size: 4rem;
        margin-top: 3rem;
    }

    div.container input {
        font-size: 6rem;
    }

    div.container input:invalid {
        border: 0.5rem solid red;
        background-color: #fcc;
    }
    

    div.container ul.mainmenu {
        flex-direction: column;
    }

    div.container ul.mainmenu li {
        font-size: 6rem;
        width: 100%;
    }

    div.container ul.mainmenu li a {
        display: flex;
    }

    div.container button {
        font-size: 6rem;
        width: 100%;
        margin-top: 3rem;
    }

    div.container section.description {
        padding-top: 1rem;
        font-size: 3rem;
    }


    /* Notifications */
    body > div.notification {
        height: 11rem;
        font-size: 10rem;
    }

    body > div.notification .close {
        padding: 0rem 1.4rem;
        width: 10rem;
        margin-top: -0.7rem;
        font-size: 11rem;
    }

    body > div.notification .message {
        font-size: 2.5rem;
        padding-top: 2.2rem;
        padding-left: 2rem;
    }

    .goto-info {
        display: block;
        width: 20rem;
        background-image: url(info128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 15rem;
        height: 20rem;
        padding-top: 6rem;
        margin-left: 10rem;
    }

    .goto-setup {
        display: block;
        width: 20rem;
        background-image: url(setup128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 15rem;
        height: 20rem;
        padding-top: 6rem;
        margin-left: 10rem;
    }

    .goto-start {
        display: block;
        width: 20rem;
        background-image: url(reboot128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 15rem;
        height: 20rem;
        padding-top: 6rem;
        margin-left: 10rem;
    }

    .goto-reset {
        display: block;
        width: 20rem;
        background-image: url(reboot128.png);
        background-position: left;
        background-repeat: no-repeat;
        padding-left: 15rem;
        height: 20rem;
        padding-top: 6rem;
        margin-left: 10rem;
    }

    fieldset.footer, div.footer {
        bottom: 0px;
        width: 100%;
        font-size: 5rem;
    }
}
